# Auto detect text files and perform LF normalization
* text=auto

# Dart files
*.dart text

# YAML files
*.yaml text
*.yml text

# Markdown files
*.md text

# CSV files
*.csv text

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
